.login{

    height: 8em;
}
.boton{
    margin-top: 2.5em;
    margin-right: 1em;
}
.buscador{
    background-color: aquamarine;
    margin-top: -1.6em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.caja{
     margin-top: 0.9em;
}
img.img1{
    height: 8em;
    width: 8em;
}
#lat{
    margin-top: 2em;
    width: 13em;
    min-height: 50em;
    border: 0.5em solid blue;
}
.pie{
    list-style: none;
  
}
.pie li{
    display: inline;
    margin-right: 3em;
}