.login{
    height: 8em;
}
.logueo{
    margin-top: 1.5em;
}
.logueo li{
  display: block;  
}
.buscador{
    background-color: aquamarine;
    margin-top: -1.6em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: "RAVIE";
}
.caja{
     margin-top: 0.9em;
}
.precio h2{
    margin-top: 1em;
}
img.logo{
    height: 5em;
    width: 9em;
}
img.logo2{
    height: 4em;
    width: 6em;
}
img.imgc{
    margin-left: 38%;
    width: 12em;
}
.imgCarousel{
    text-align:center;
}
img.img1{
    height: 10em;
    width: 10em;
}
img.imgd{
    height: 25em;
    width: 25em;
    margin-left: 10em;
}
#lat{
    margin-top: 4em;
    margin-left: 2em;
    text-align: center;
    height: 55em;
    border: 0.2em solid blue;
    font-family: "ROCK";
}
#mapa{
    width: 30em;
    height: 25em;
    background-color: grey;
    padding-right: 2em;
    margin-left: 20%;
}
.pie{
   
   margin-top: -5em;
}
.pie li{
    display: inline;
    margin-right: 3em;
}
.registrado h5{
    margin-left: 27em;
}
.lista{
    height:12em;
    border: 0.2em solid red;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    font-family: "ROCK";
}
.paginacion{
    margin-left: 27em;
}
.cuadro{
    border: 0.2em solid #269abc;
    padding-bottom: 1em;
    padding-top: 1em;
}
.titulo h2{
    margin-left: 15em;
}
.des{
    margin-top: 4em;
    
}
@font-face {
  font-family: "RAVIE";
  src: url(../font/RAVIE.TTF);
}
@font-face {
	font-family: "SANS";
  src: url(../font/sans.ttf);

}
@font-face {
	font-family: "ROCK";
  src: url(../font/rockwebb.ttf);
}
